<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link href="/media/favicon_io/favicon-32x32.png" rel="icon" sizes="32x32">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="alternate" href="{{ metadata.feed.path }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h2>
        <span class="badge">
          <a class="title" href="/">{{ metadata.title }}</a>
        </span>
      </h2>
    </header>
    <main class="{{ templateClass }}">

      {{ content }}
    </main>

    <footer>
      <ul>
        <li>
          <a class="contact" target="_blank" href="{{ metadata.source.url }}">source</a>
        </li>
        <li>
          <a href="{{ metadata.source.post }}">how was I built?</a>
        </li>
        <li>
          <a class="contact" target="_blank" href="{{ metadata.author.twitter }}">twitter</a>
        </li>
        <li>
          <a class="contact" target="_blank" href="{{ metadata.author.stackoverflow }}">stackoverflow</a>
        </li>
        <li>
          <a class="contact" target="_blank" href="mailto:{{ metadata.author.email }}">email</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
