<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="alternate" href="{{ metadata.feed.path }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h2>
        <span class="badge">
          <a class="title" href="/">{{ metadata.title }}</a>
        </span>
      </h2>
    </header>
    <main class="{{ templateClass }}">

      {{ content }}
    </main>

    <footer></footer>
  </body>
</html>
